CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y

# 只编译 jdcloud_re-ss-01亚瑟 和 jdcloud_re-cs-02雅典娜
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="luci-app-athena-led luci-i18n-athena-led-zh-cn"

# 硬件相关配置（保留）
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
