CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
# CONFIG_TARGET_MULTI_PROFILE is not set

CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y

# 添加 kmod-tun，用来支持 tailscale
CONFIG_PACKAGE_kmod-tun=y

# 其他你需要的通用配置（如内存设置、NSS版本等）
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
